---
import MainLayout from "../../layouts/MainLayout.astro";
import { affiliateCards, getAffiliateCard } from "../../lib/affiliateCards";
import { getExtensions, getCardsForExtension } from "../../lib/cards";

export const getStaticPaths = () => {
	const extensions = getExtensions();
	return extensions.map((extension) => ({
		params: { extension },
	}));
};

const { extension } = Astro.params;
const cards = getCardsForExtension(extension);
const initialBatch = 96;
const initialCards = cards.slice(0, initialBatch);
const remainingCards = cards.slice(initialBatch);
const extensionLabel = extension === "P" ? "Promo" : extension;
const isLeakPage = extension.toUpperCase() === "OP17";
const releaseDateLabel = "August 28, 2026";
const keywordAssetBase = "/assets/keywords";
const keyword = (icon, alt) => ({ icon, alt });
const leakCardDetails = {
	"OP17-001": {
		rarity: "Leader Card",
		stats: "Red / Life 5 / Special / Power 5000",
		traits: "Whitebeard Pirates",
		effectLines: [
			[
				keyword("on-your-opponents-attack", "On Your Opponent's Attack"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" ",
				"You may trash 1 card from your hand: Up to 1 of your Leader or Character cards gains +4000 power during this battle.",
			],
		],
	},
	"OP17-003": {
		rarity: "Rare",
		stats: "Red / Cost 4 / Ranged / Power 6000",
		traits: "Land of Wano/Whitebeard Pirates",
		effectLines: [
			[keyword("rush", "Rush"), " Character"],
			[
				keyword("on-play", "On Play"),
				" If your Leader is [Edward Newgate] or has the {Land of Wano} type, give up to 1 of your opponent's rested Characters -6000 power during this turn.",
			],
		],
	},
	"OP17-005": {
		rarity: "Super Rare",
		stats: "Red / Cost 10 / Special / Power 12000",
		traits: "The Four Emperors/Whitebeard Pirates",
		effectLines: [
			["If your opponent has a Character with 10000 power or more, give this card in your hand -4 cost."],
			[
				keyword("on-play", "On Play"),
				" Set the base power of your monocolored Leader to 8000 until the end of your opponent's next End Phase.",
			],
		],
	},
	"OP17-004": {
		rarity: "Common",
		stats: "Red / Cost 3 / Slash / Power 2000 / Counter 2000",
		traits: "Minks/Land of Wano/Whitebeard Pirates",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" Up to 1 of your {Land of Wano} type Characters or up to 1 of your Characters with a type including \"Whitebeard Pirates\" gains ",
				keyword("rush", "Rush"),
				" during this turn.",
			],
			["(This card can attack on the turn in which it is played.)"],
		],
	},
	"OP17-012": {
		rarity: "Common",
		stats: "Red / Cost 2 / Slash / Power 1000 / Counter 1000",
		traits: "Whitebeard Pirates",
		effectLines: [
			[
				keyword("blocker", "Blocker"),
				" (After your opponent declares an attack, you may rest this card to make it the new target of the attack.)",
			],
			[
				keyword("on-ko", "On K.O."),
				" Play up to 1 card with a cost of 1 and a type including \"Whitebeard Pirates\" from your hand.",
			],
		],
	},
	"OP17-020": {
		rarity: "Leader Card",
		stats: "Green / Life 5 / Slash / Power 5000",
		traits: "The Four Emperors/Red-Haired Pirates",
		effectLines: [
			[
				keyword("activate-main", "Activate: Main"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" You may trash 1 card from your hand or rest 1 of your DON!! cards: Up to 1 of your opponent's rested Characters will not become active during your opponent's next Refresh Phase.",
			],
		],
	},
	"OP17-022": {
		rarity: "Super Rare",
		stats: "Green / Cost 10 / Special / Power 12000",
		traits: "The Four Emperors/Red-Haired Pirates",
		effectLines: [
			[keyword("rush", "Rush")],
			[
				keyword("on-play", "On Play"),
				" Set up to 2 of your DON!! cards as active. Then, rest all of your opponent's Characters.",
			],
		],
	},
	"OP17-026": {
		rarity: "Uncommon",
		stats: "Green / Cost 1 / Slash / Power 2000 / Counter 2000",
		traits: "Red-Haired Pirates Allies",
		effectLines: [
			[
				keyword("when-attacking", "When Attacking"),
				" If your Leader has the {Red-Haired Pirates} type, rest up to 1 of your opponent's Characters with a cost of 2 or less.",
			],
			[
				keyword("on-ko", "On K.O."),
				" Draw 1 card.",
			],
		],
	},
	"OP17-028": {
		rarity: "Common",
		stats: "Green / Cost 4 / Strike / Power 3000 / Counter 1000",
		traits: "Animal/Red-Haired Pirates",
		effectLines: [
			[
				keyword("blocker", "Blocker"),
				" (After your opponent declares an attack, you may rest this card to make it the new target of the attack.)",
			],
			[
				keyword("on-play", "On Play"),
				" K.O. up to 1 of your opponent's rested Characters with a cost of 6 or less.",
			],
		],
	},
	"OP17-029": {
		rarity: "Rare",
		stats: "Green / Cost 4 / Strike / Power 4000 / Counter 2000",
		traits: "Red-Haired Pirates",
		effectLines: [
			[keyword("blocker", "Blocker")],
			[
				keyword("on-play", "On Play"),
				" Set up to 1 of your DON!! cards as active. Then, rest up to 2 of your opponent's Characters with a cost of 2 or less.",
			],
		],
	},
	"OP17-031": {
		rarity: "Super Rare",
		stats: "Green / Cost 5 / Ranged / Power 6000 / Counter 1000",
		traits: "Red-Haired Pirates",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" Draw 1 card and rest up to 1 of your opponent's Characters with a cost of 8 or less.",
			],
			[
				keyword("end-of-your-turn", "End of Your Turn"),
				" Set up to 1 of your {Red-Haired Pirates} type Characters as active.",
			],
		],
	},
	"OP17-034": {
		rarity: "Common",
		stats: "Green / Cost 5 / Slash / Power 6000 / Counter 1000",
		traits: "Red-Haired Pirates",
		effectLines: [
			[
				keyword("activate-main", "Activate: Main"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" If your opponent's Leader has 6000 power or more, set up to 1 of your DON!! cards as active. Then, your {Red-Haired Pirates} type Leader's base power becomes 6000 until the end of your opponent's next End Phase.",
			],
		],
	},
	"OP17-058": {
		rarity: "Leader Card",
		stats: "Purple / Life 5 / Special / Power 5000",
		notes: [],
		traits: "The Four Emperors/Animal Kingdom Pirates",
		effectLines: [
			[
				keyword("when-attacking", "When Attacking"),
				" / ",
				keyword("on-your-opponents-attack", "On Your Opponent's Attack"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" DON!! -1: Up to 1 of your opponent's Characters gets -2000 power during this turn.",
			],
		],
	},
	"OP17-062": {
		rarity: "Super Rare",
		stats: "Purple / Cost 10 / Strike / Power 12000",
		notes: [],
		traits: "The Four Emperors/Animal Kingdom Pirates",
		effectLines: [
			[keyword("blocker", "Blocker")],
			[
				keyword("your-turn", "Your Turn"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" When a DON!! card on your field is returned to your DON!! deck, add up to 1 DON!! card from your DON!! deck and set it as active. Then, set up to 1 of your DON!! cards as active.",
			],
		],
	},
	"OP17-063": {
		rarity: "Super Rare",
		stats: "Purple / Cost 10 / Strike / Power 12000",
		notes: [],
		traits: "The Four Emperors/Animal Kingdom Pirates",
		effectLines: [
			["All of your Character cards without a Counter in your hand have a +1000 Counter."],
			[
				keyword("activate-main", "Activate: Main"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" DON!! -1: If this Character was played on this turn, negate the effect of up to 1 of your opponent's Characters with a cost of 6 or less, and K.O. that Character.",
			],
		],
	},
	"OP17-064": {
		rarity: "Common",
		stats: "Purple / Cost 9 / Special / Power 10000",
		traits: "Lunarian/Animal Kingdom Pirates",
		effectLines: [
			[keyword("blocker", "Blocker")],
			[
				keyword("on-your-opponents-attack", "On Your Opponent's Attack"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" You may trash 1 card from your hand: Up to 1 of your Leader or Character cards gains +2000 power during this battle.",
			],
		],
	},
	"OP17-071": {
		rarity: "Common",
		stats: "Purple / Cost 2 / Slash / Power 3000 / Counter 1000",
		traits: "Animal Kingdom Pirates/Former CP9",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" DON!! -1: K.O. up to 2 of your opponent's Characters with a cost of 2 or less.",
			],
			[keyword("trigger", "Trigger"), " Play this card."],
		],
	},
	"OP17-072": {
		rarity: "Common",
		stats: "Purple / Cost 2 / Special / Power 1000 / Counter 1000",
		traits: "Animal Kingdom Pirates",
		effectLines: [
			[
				keyword("blocker", "Blocker"),
				" (After your opponent declares an attack, you may rest this card to make it the new target of the attack.)",
			],
			[
				keyword("on-your-opponents-attack", "On Your Opponent's Attack"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" You may trash 1 card from your hand: Up to 1 of your Leader or Characters gains +1000 power during this battle.",
			],
		],
	},
	"OP17-079": {
		rarity: "Leader Card",
		stats: "Black / Life 5 / Attack / Power 5000",
		traits: "Elbaf/Four Emperors/Straw Hat Pirates",
		effectLines: [
			[
				"All of your characters with a cost of 12 or more gain ",
				keyword("blocker", "Blocker"),
				".",
			],
			["(After your opponent attacks, you can rest this card and target this card for the next attack.)"],
		],
	},
	"OP17-080": {
		rarity: "Super Rare",
		stats: "Black / Cost 2 / Ranged / Power 2000 / Counter 1000",
		traits: "Elbaf/Straw Hat Crew",
		effectLines: [
			["If there is a Character with a cost of 12 or more, this Character gains +3000 power."],
			[
				keyword("on-play", "On Play"),
				" Look at the top 3 cards of your deck, reveal up to 1 {Elbaf} type card and add it to your hand. Then, trash the rest.",
			],
		],
	},
	"OP17-081": {
		rarity: "Rare",
		stats: "Black / Cost 2 / Slash / Power 3000 / Counter 2000",
		traits: "Giant/Elbaph/New Giant Warrior Pirates",
		effectLines: [
			["If your Leader has the {Elbaph} type, this Character gains +12 cost."],
			[
				keyword("on-play", "On Play"),
				" You may trash 1 card from your hand: add up to 1 Character with a cost of 8 or less from your trash other than [Gerd] to your hand.",
			],
		],
	},
	"OP17-082": {
		rarity: "Common",
		stats: "Black / Cost 2 / Strike / Power 2000 / Counter 1000",
		traits: "Elbaph/Straw Hat Crew",
		effectLines: [
			["If there is a Character with a cost of 12 or more, this Character gains +3000 power."],
			[
				keyword("on-play", "On Play"),
				" Draw 2 cards and trash 2 cards from your hand.",
			],
		],
	},
	"OP17-083": {
		rarity: "Common",
		stats: "Black / Cost 2 / Strike / Power 2000 / Counter 1000",
		traits: "Fish-Man/Elbaph/Straw Hat Crew",
		effectLines: [
			[
				"If there is a Character with a cost of 12 or more, this Character gains ",
				keyword("blocker", "Blocker"),
				" and +3000 power.",
			],
			["(After your opponent declares an attack, you may rest this card to make it the new target of the attack.)"],
		],
	},
	"OP17-0XX": {
		rarity: "Character",
		stats: "Black / Cost 5 / Slash / Power 5000 / Counter 1000",
		traits: "Giant/Elbaph/Giant Warrior Pirates",
		effectLines: [
			["This Character gains +12 cost."],
			[
				keyword("on-play", "On Play"),
				" If your Leader has the {Elbaph} type, play up to 1 [Brogy] with a cost of 5 or less from your hand or trash. Then, you cannot play Character cards during this turn.",
			],
		],
	},
	"OP17-090": {
		rarity: "Common",
		stats: "Black / Cost 2 / Strike / Power 2000",
		traits: "Elbaph/Straw Hat Crew",
		effectLines: [
			["If there is a Character with a cost of 12 or more, this Character gains +3000 power."],
			[
				keyword("on-play", "On Play"),
				" If there is a Character with a cost of 12 or more, K.O. up to 1 of your opponent's Characters with a cost of 2 or less.",
			],
		],
	},
	"OP17-091": {
		rarity: "Common",
		stats: "Black / Cost 2 / Slash / Power 2000 / Counter 1000",
		traits: "Elbaf/Straw Hat Crew",
		effectLines: [
			["If there is a Character with a cost of 12 or more, this Character gains +3000 power."],
			[
				keyword("on-play", "On Play"),
				" If there is a Character with a cost of 12 or more, your opponent trashes 1 card from their hand.",
			],
		],
	},
	"OP17-093": {
		rarity: "Super Rare",
		stats: "Black / Cost 8 / Attack / Power 8000",
		traits: "Elbaf/Four Emperors/Straw Hat Pirates",
		effectLines: [
			[
				"If there is a character with a cost of 12 or more, this character gains ",
				keyword("rush", "Rush"),
				".",
			],
			[
				keyword("on-play", "On Play"),
				" Draw one card, and play up to one character card with a cost of 2 or less from your trash.",
			],
		],
	},
	"OP17-099": {
		rarity: "Leader Card",
		stats: "Yellow / Life 5 / Special / Power 5000",
		traits: "The Four Emperors/Big Mom Pirates",
		effectLines: [
			[
				keyword("when-attacking", "When Attacking"),
				" You may trash 1 card from your hand: Your opponent chooses one of the following effects.",
			],
			["- Trash 1 card from your hand. Then, add up to 1 card from the top of your deck to the top of your Life cards."],
			["- Your opponent trashes 1 card from their hand."],
		],
	},
	"OP17-105": {
		rarity: "Common",
		stats: "Yellow / Cost 5 / Wisdom / Power 0 / Counter 1000",
		traits: "Firetank Pirates/Former Big Mom Pirates",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" You may trash 1 card with a ",
				keyword("trigger", "Trigger"),
				" from your hand: Return up to 1 of your opponent's Characters with a ",
				keyword("trigger", "Trigger"),
				" to the owner's hand.",
			],
		],
	},
	"OP17-106": {
		rarity: "Common",
		stats: "Yellow / Cost 5 / Special / Power 4000 / Counter 1000",
		traits: "Big Mom Pirates",
		effectLines: [
			[
				keyword("your-turn", "Your Turn"),
				" ",
				keyword("on-play", "On Play"),
				" You may rest 2 of your DON!! cards: Add up to 1 card from the top of your deck to the top of your Life cards. Then, your opponent trashes 1 card from their hand.",
			],
			[
				keyword("trigger", "Trigger"),
				" Play this card.",
			],
		],
	},
	"OP17-109": {
		rarity: "Rare",
		stats: "Yellow / Cost 3 / Wisdom / Power 4000 / Counter 1000",
		traits: "Big Mom Pirates",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" You may trash 1 card with a ",
				keyword("trigger", "Trigger"),
				" from your hand: Draw 3 cards.",
			],
			[
				keyword("trigger", "Trigger"),
				" Look at 5 cards from the top of your deck; reveal up to 1 {Big Mom Pirates} type card and add it to your hand. Then, place the rest at the bottom of your deck in any order.",
			],
		],
	},
	"OP17-112": {
		rarity: "Super Rare",
		stats: "Yellow / Cost 10 / Special / Power 12000",
		traits: "The Four Emperors/Big Mom Pirates",
		effectLines: [
			[
				keyword("your-turn", "Your Turn"),
				" All of your Characters with 4000 base power and a ",
				keyword("trigger", "Trigger"),
				" become 8000 base power.",
			],
			[
				keyword("on-play", "On Play"),
				" Draw 1 card and choose one of the following effects.",
			],
			["- Add up to 1 card from the top of your deck to the top of your Life cards."],
			["- Add up to 1 card from the top of your opponent's Life cards to the owner's hand."],
		],
	},
	"OP17-119": {
		rarity: "Secret Rare",
		stats: "Black / Cost 6 / Attack / Power 8000",
		traits: "Giant/Elbaf",
		effectLines: [
			["This character's cost increases by 12, and if it's your opponent's turn, this character's power increases by 3000."],
			[
				keyword("on-play", "On Play"),
				" KO your opponent's characters so that their total cost is 4 or less.",
			],
		],
	},
	"EB04-007": {
		rarity: "SP",
		stats: "Red / Cost 7 / Slash / Power 9000",
		traits: "Egghead/Straw Hat Crew",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" Your Leader gains +2000 power until the end of your opponent's next End Phase.",
			],
			[
				keyword("activate-main", "Activate: Main"),
				" ",
				keyword("once-per-turn", "Once Per Turn"),
				" If your opponent has a Character with 8000 power or more, this Character gains ",
				keyword("rush", "Rush"),
				" during this turn.",
			],
		],
	},
	"OP12-056": {
		rarity: "SP",
		stats: "Blue / Cost 1 / Event",
		traits: "Navy",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" You may trash 1 card from your hand: Play up to 1 blue {Navy} Character card with a power of 8000 or less other than [Monkey.D.Garp] from your hand.",
			],
		],
	},
	"OP14-108": {
		rarity: "SP",
		stats: "Yellow / Cost 6 / Slash / Power 6000 / Counter 1000",
		traits: "Former Roger Pirates",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" If your Leader is multicolored and your opponent has 3 or less Life cards, K.O. up to 1 of your opponent's Characters with 7000 base power or less.",
			],
			[
				keyword("trigger", "Trigger"),
				" Activate this card's ",
				keyword("on-play", "On Play"),
				" effect.",
			],
		],
	},
	"P-107": {
		rarity: "SP",
		stats: "Purple / Cost 8 / Special / Power 10000",
		traits: "King of the Pirates/Roger Pirates",
		effectLines: [
			["[When Played] If you or your opponent has 10 DON!! cards on their field, your Leader gets +2000 Power until the end of your opponent's next End Phase."],
		],
	},
	"ST32-002": {
		rarity: "SP",
		stats: "Green / Cost 5 / Slash / Power 6000 / Counter 1000",
		traits: "Land of Wano/Kouzuki Clan",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" Draw 1 card and up to 1 of your opponent's Characters with a base cost of 6 or less cannot be rested until the end of your opponent's next End Phase.",
			],
		],
	},
	"OP13-028": {
		rarity: "Gold",
		stats: "Green / Cost 10 / Special / Power 12000",
		traits: "FILM/The Four Emperors/Red-Haired Pirates",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" Set all of your DON!! cards as active. Then, you cannot play cards from your hand during this turn.",
			],
		],
	},
	"P-084": {
		rarity: "Gold",
		stats: "Blue / Cost 7 / Special / Power 8000",
		traits: "The Four Emperors/Cross Guild",
		effectLines: [
			["This Character cannot attack. If your Leader is [Buggy], all cost 3 and 4 Characters cannot attack."],
			[
				keyword("on-play", "On Play"),
				" Play up to one cost 6 or lower {Cross Guild} type Character from your hand.",
			],
		],
	},
	"ST27-005": {
		rarity: "Gold",
		stats: "Black / Cost 7 / Special / Power 8000",
		traits: "The Four Emperors/Blackbeard Pirates",
		effectLines: [
			[
				keyword("activate-main", "Activate: Main"),
				" You may rest this Character: K.O. up to 1 Character with a cost of 3 or less.",
			],
			[
				keyword("on-ko", "On K.O."),
				" Add up to 1 black card from your trash to your hand.",
			],
		],
	},
	"ST31-004": {
		rarity: "Gold",
		stats: "Red / Cost 7 / Strike / Power 9000",
		traits: "The Four Emperors/Straw Hat Crew",
		effectLines: [
			[
				"If you have a total of 3 or more given DON!! cards, this Character gains ",
				keyword("rush", "Rush"),
				".",
			],
			["(This card can attack on the turn in which it is played.)"],
			[
				keyword("on-play", "On Play"),
				" For every {Straw Hat Crew} type card on your field, give up to 1 of your opponent's Characters -1000 power during this turn.",
			],
		],
	},
	"OP16-098": {
		rarity: "SP",
		stats: "Black / Cost 6 / Strike / Power 5000 / Counter 1000",
		traits: "Land of Wano",
		effectLines: [
			[
				keyword("on-play", "On Play"),
				" Draw 1 card and trash 1 card from your hand.",
			],
			[
				keyword("activate-main", "Activate: Main"),
				" You may trash this Character: Play up to 1 black [Yamato] with a cost of 8 from your trash.",
			],
		],
	},
};
const getLeakSortRank = (card) => {
	if (card.code.startsWith("OP17-")) return 0;
	if (card.rarity === "Gold") return 2;
	return 1;
};

const getLeakSortCode = (code) => {
	if (code === "OP17-0XX") return "OP17-084";
	return code;
};

const leakCards = isLeakPage
	? cards
			.map((card) => {
				const details = leakCardDetails[card.code];
				const rarity = details?.rarity ?? "";
				const hideEditionChip = rarity === "SP" || rarity === "Gold";
				return details
					? {
							...card,
							...details,
							edition: hideEditionChip ? null : details.edition ?? card.edition ?? null,
							variants: card.variants ?? [],
						}
					: null;
			})
			.filter(Boolean)
			.sort((a, b) => {
				const rankDiff = getLeakSortRank(a) - getLeakSortRank(b);
				if (rankDiff !== 0) return rankDiff;
				return getLeakSortCode(a.code).localeCompare(getLeakSortCode(b.code), "en");
			})
	: [];
const leakCount = leakCards.length;

const title = isLeakPage
	? `${extensionLabel} Leaks Card List | One Piece Card Game`
	: `${extensionLabel} Card List | One Piece Card Game`;
const description = isLeakPage
	? `Browse the latest ${extensionLabel} leaks for the One Piece Card Game before the set releases on ${releaseDateLabel}. This page updates with each newly revealed card while the URL stays the same.`
	: `Browse the full ${extensionLabel} card list, search exact card numbers, and open full-size One Piece Card Game previews instantly.`;
---

<MainLayout title={title} description={description}>
	<section class="hero">
		<div class="container">
			<span class="hero-badge">{extensionLabel}</span>
			<h1>{isLeakPage ? `${extensionLabel} Leaks Card List` : `${extensionLabel} Card List`}</h1>
			{isLeakPage ? (
				<>
					<p>
						This page tracks the currently revealed {extensionLabel} leaks for the One Piece Card Game ahead
						of the official release on {releaseDateLabel}. New cards will be added here as they are
						revealed.
					</p>
				</>
			) : (
				<p>
					Every {extensionLabel} card is listed on this page. Open any card for the full-size image, or
					use search if you want to jump straight to an exact card number.
				</p>
			)}
		</div>
	</section>

	<section class="list-section">
		<div class="container">
			<div class="section-header">
				<div>
					<h2>{isLeakPage ? `${extensionLabel} Revealed Cards` : `${extensionLabel} Cards`}</h2>
					<p>
						{isLeakPage
							? `${leakCount} revealed leak cards currently available on this page.`
							: `${cards.length} cards available in this extension.`}
					</p>
				</div>
				<a href="/cards-list/">Back to all extensions</a>
			</div>
			{isLeakPage ? (
				<div class="leak-cards-grid">
					{leakCards.map((card) => {
						return (
						<article class="leak-card">
							<div class="card-thumb-shell leak-card-thumb-shell">
								<button
									class="card-thumb leak-card-thumb"
									type="button"
									data-card
									data-full={card.fullUrl}
									data-name={card.code}
								>
									<img loading="lazy" src={card.smallUrl} alt={`${card.code} ${card.name} card`} />
								</button>
							</div>
							<div class="leak-card-copy">
								<div class="leak-card-header">
									<p class="leak-card-code">{card.code}</p>
									<p class="leak-card-rarity">{card.rarity}</p>
								</div>
								<h3>{card.name}</h3>
								<div class="leak-card-meta">
									{card.edition && <p class="leak-chip leak-chip-solid">{card.edition}</p>}
									{card.notes?.map((note) => <p class="leak-chip">{note}</p>)}
								</div>
								{card.variants.length > 0 && (
									<div class="leak-card-variants">
										{card.variants.map((variant) => (
											<button
												type="button"
												class="variant-button"
												data-card
												data-full={variant.fullUrl}
												data-name={`${card.code} ${variant.label}`}
											>
												{variant.label}
											</button>
										))}
									</div>
								)}
								{card.traits && <p class="leak-card-traits">{card.traits}</p>}
								<div class="leak-card-effects">
									{card.effectLines.map((line) => (
										<p class="leak-effect-line">
											{line.map((part) =>
												typeof part === "string" ? (
													<span>{part}</span>
												) : (
													<img
														class="keyword-badge"
														src={`${keywordAssetBase}/${part.icon}.png`}
														alt={part.alt}
													/>
												)
											)}
										</p>
									))}
								</div>
							</div>
						</article>
					)})}
				</div>
			) : (
				<>
					<div class="cards-grid" data-card-grid>
						{initialCards.map((card) => {
							const affiliateCard = getAffiliateCard(card.code);
							return (
								<div class="card-thumb-shell">
									<button
										class="card-thumb"
										type="button"
										data-card
										data-full={card.fullUrl}
										data-name={card.code}
									>
										<img loading="lazy" src={card.smallUrl} alt={`${card.code} card`} />
									</button>
									{
										affiliateCard && (
											<a
												class="card-affiliate-link"
												href={affiliateCard.affiliateUrl}
												target="_blank"
												rel="nofollow sponsored noopener"
											>
												{affiliateCard.price}
											</a>
										)
									}
								</div>
							);
						})}
					</div>
					{remainingCards.length > 0 && (
						<div class="load-more">
							<button type="button" class="btn btn-secondary" data-load-more>Load more cards</button>
							<p>{remainingCards.length} more cards available</p>
						</div>
					)}
				</>
			)}
		</div>
	</section>

	<section class="faq-section">
		<div class="container">
			<div class="section-header faq-header">
				<div>
					<h2>{extensionLabel} FAQ</h2>
					<p>{isLeakPage ? "Quick answers about the current OP17 leak page." : "Quick answers for the most common card list questions."}</p>
				</div>
			</div>
			<div class="faq-grid">
				<article class="faq-card">
					<h3>{isLeakPage ? `Can I browse every ${extensionLabel} card here?` : `Can I browse every ${extensionLabel} card here?`}</h3>
					<p>
						{isLeakPage
							? `Not yet. This page currently lists only the revealed ${extensionLabel} leaks and will grow as more cards are officially shown.`
							: `Yes. This page lists the full ${extensionLabel} card pool in one place.`}
					</p>
				</article>
				<article class="faq-card">
					<h3>{isLeakPage ? "When is OP17 scheduled to release?" : "Where can I find deck context?"}</h3>
					<p>
						{isLeakPage ? (
							<>The current target release date is {releaseDateLabel}. Until then, this page is intentionally framed as leaks.</>
						) : (
							<>Use <a href="/deck-guides/">Deck Guides</a> to see how cards show up in real lists.</>
						)}
					</p>
				</article>
			</div>
		</div>
	</section>

	<div class="card-modal" data-modal aria-hidden="true">
		<div class="card-modal-inner" role="dialog" aria-modal="true" aria-label="Card preview">
			<button class="modal-close" type="button" data-close>Close</button>
			<img src="" alt="" data-modal-image />
		</div>
	</div>
</MainLayout>

<script define:vars={{ remainingCards, affiliateCards, isLeakPage }}>
	const modal = document.querySelector("[data-modal]");
	const modalImage = document.querySelector("[data-modal-image]");
	const closeButton = document.querySelector("[data-close]");
	const grid = document.querySelector("[data-card-grid]");
	const loadMoreButton = document.querySelector("[data-load-more]");
	let remaining = remainingCards ?? [];
	const batchSize = 96;

	const openModal = (fullUrl, name) => {
		if (!modal || !modalImage) return;
		modalImage.setAttribute("src", fullUrl);
		modalImage.setAttribute("alt", `${name} card`);
		modal.classList.add("is-open");
		modal.setAttribute("aria-hidden", "false");
	};

	const closeModal = () => {
		if (!modal) return;
		modal.classList.remove("is-open");
		modal.setAttribute("aria-hidden", "true");
	};

	document.addEventListener("click", (event) => {
		const cardButton = event.target.closest("[data-card]");
		if (cardButton) {
			const fullUrl = cardButton.getAttribute("data-full");
			const name = cardButton.getAttribute("data-name");
			if (!fullUrl) return;
			openModal(fullUrl, name);
			return;
		}

		if (event.target === modal) {
			closeModal();
		}
	});

	closeButton?.addEventListener("click", closeModal);
	window.addEventListener("keydown", (event) => {
		if (event.key === "Escape") {
			closeModal();
		}
	});

	const appendBatch = () => {
		if (!grid || remaining.length === 0) return;
		const batch = remaining.splice(0, batchSize);
		batch.forEach((card) => {
			const shell = document.createElement("div");
			shell.className = "card-thumb-shell";

			const button = document.createElement("button");
			button.type = "button";
			button.className = "card-thumb";
			button.setAttribute("data-card", "");
			button.setAttribute("data-full", card.fullUrl);
			button.setAttribute("data-name", card.code);
			const img = document.createElement("img");
			img.loading = "lazy";
			img.src = card.smallUrl;
			img.alt = `${card.code} card`;
			button.appendChild(img);
			shell.appendChild(button);
			const affiliateCard = !isLeakPage ? affiliateCards[card.code] : null;
			if (affiliateCard) {
				const link = document.createElement("a");
				link.className = "card-affiliate-link";
				link.href = affiliateCard.affiliateUrl;
				link.target = "_blank";
				link.rel = "nofollow sponsored noopener";
				link.textContent = affiliateCard.price;
				shell.appendChild(link);
			}
			grid.appendChild(shell);
		});
		if (remaining.length === 0 && loadMoreButton) {
			loadMoreButton.closest(".load-more")?.remove();
		} else if (loadMoreButton) {
			const note = loadMoreButton.nextElementSibling;
			if (note) {
				note.textContent = `${remaining.length} more cards available`;
			}
		}
	};

	loadMoreButton?.addEventListener("click", appendBatch);
</script>

<style>
	.hero-links {
		margin-top: 1rem;
	}

	.leak-note {
		margin-top: 0.9rem;
		padding: 0.9rem 1rem;
		border: 1px solid rgba(255, 107, 61, 0.24);
		border-radius: var(--radius-md);
		background: rgba(255, 107, 61, 0.08);
		color: var(--text-200);
	}

	.hero-links a {
		color: var(--accent) !important;
		font-weight: 600;
		text-decoration: none;
	}

	.cards-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
		gap: 0.8rem;
		justify-content: start;
	}

	:global(.card-thumb-shell) {
		position: relative;
		width: 120px;
		max-width: 120px;
		line-height: 0;
	}

	.leak-cards-grid {
		display: grid;
		gap: 1.15rem;
	}

	.leak-card {
		display: grid;
		grid-template-columns: minmax(148px, 188px) minmax(0, 1fr);
		gap: 1.2rem;
		align-items: stretch;
		padding: 1.1rem;
		border-radius: 18px;
		border: 1px solid rgba(255, 138, 42, 0.42);
		background:
			linear-gradient(135deg, rgba(255, 149, 56, 0.34), rgba(255, 122, 26, 0.18) 28%, rgba(255, 122, 26, 0.07) 52%, rgba(10, 14, 24, 0.92) 78%),
			linear-gradient(180deg, rgba(255, 190, 120, 0.08), rgba(255, 255, 255, 0.02));
		box-shadow:
			0 0 0 1px rgba(255, 168, 76, 0.08),
			inset 0 1px 0 rgba(255, 255, 255, 0.03),
			0 18px 40px rgba(0, 0, 0, 0.22);
		position: relative;
		overflow: hidden;
	}

	.leak-card::before {
		content: "";
		position: absolute;
		inset: 0 auto 0 0;
		width: 4px;
		background: linear-gradient(180deg, #ffb347, #ff7a1a 55%, #ff5a1f);
	}

	.leak-card-thumb {
		width: 100%;
		max-width: 188px;
		align-self: center;
		position: relative;
		z-index: 1;
	}

	.leak-card-thumb-shell {
		width: 100%;
		max-width: 188px;
	}

	.leak-card-thumb img {
		border: 1px solid rgba(255, 138, 42, 0.28);
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.28);
	}

	.leak-card-copy {
		min-width: 0;
		display: grid;
		gap: 0.7rem;
		align-content: start;
		position: relative;
		z-index: 1;
	}

	.leak-card-header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.65rem;
	}

	.leak-card-copy h3 {
		margin: 0;
		font-size: clamp(1.2rem, 1rem + 0.55vw, 1.55rem);
		line-height: 1.08;
		color: var(--text-100);
	}

	.leak-card-copy p {
		margin: 0;
		line-height: 1.45;
		color: var(--text-200);
	}

	.leak-card-code {
		color: var(--accent) !important;
		font-weight: 700;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		font-size: 0.8rem;
	}

	.leak-card-rarity {
		color: #ffd6b0 !important;
		font-weight: 700;
		font-size: 0.78rem;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		padding: 0.28rem 0.55rem;
		border-radius: 999px;
		border: 1px solid rgba(255, 138, 42, 0.4);
		background: linear-gradient(135deg, rgba(255, 179, 71, 0.24), rgba(255, 122, 26, 0.16));
	}

	.leak-card-meta {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.leak-card-variants {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.leak-chip {
		padding: 0.35rem 0.65rem;
		border-radius: 999px;
		border: 1px solid rgba(255, 138, 42, 0.3);
		background: rgba(255, 149, 56, 0.1);
		font-size: 0.82rem;
		color: var(--text-200);
	}

	.leak-chip-solid {
		background: linear-gradient(135deg, rgba(255, 179, 71, 0.34), rgba(255, 122, 26, 0.24));
		color: #ffe6cf;
	}

	.variant-button {
		padding: 0.38rem 0.7rem;
		border-radius: 999px;
		border: 1px solid rgba(255, 138, 42, 0.38);
		background: rgba(255, 149, 56, 0.12);
		color: var(--text-100);
		font-size: 0.78rem;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		cursor: pointer;
		transition:
			transform 0.18s ease,
			background 0.18s ease,
			border-color 0.18s ease;
	}

	.variant-button:hover,
	.variant-button:focus-visible {
		transform: translateY(-1px);
		background: rgba(255, 149, 56, 0.2);
		border-color: rgba(255, 190, 120, 0.68);
		outline: none;
	}

	.leak-card-traits {
		color: #ffd6b0 !important;
	}

	.leak-card-effects {
		display: grid;
		gap: 0.55rem;
		padding-top: 0.15rem;
	}

	.leak-card-effects p {
		padding-left: 0.9rem;
		position: relative;
		line-height: 1.5;
	}

	.leak-effect-line {
		display: block;
	}

	.keyword-badge {
		height: 1em;
		width: auto;
		max-width: none;
		vertical-align: middle;
		display: inline-block;
		flex: 0 0 auto;
		transform: translateY(-0.02em);
		margin: 0 0.12em;
	}

	.leak-card-effects p::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0.58rem;
		width: 0.42rem;
		height: 0.42rem;
		border-radius: 999px;
		background: linear-gradient(135deg, #ffb347, #ff7a1a);
		box-shadow: 0 0 12px rgba(255, 122, 26, 0.28);
	}

	:global(.card-thumb) {
		display: block;
		padding: 0;
		border-radius: 12px;
		border: none;
		background: transparent;
		transition: transform 0.2s ease, box-shadow 0.2s ease;
		cursor: pointer;
		width: 120px;
		max-width: 120px;
	}

	:global(.card-thumb img) {
		width: 100%;
		border-radius: 8px;
	}

	:global(.card-thumb:hover),
	:global(.card-thumb:focus-visible) {
		transform: translateY(-4px);
		box-shadow: var(--shadow);
		outline: none;
	}

	:global(.card-affiliate-link) {
		position: absolute;
		left: 0.38rem;
		bottom: 1rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 0;
		max-width: calc(100% - 0.76rem);
		padding: 0.22rem 0.42rem;
		border-radius: 8px;
		background: rgba(8, 18, 28, 0.92);
		border: 1px solid rgba(120, 214, 255, 0.2);
		color: #d7f2ff;
		font-size: 0.68rem;
		font-weight: 800;
		text-decoration: none;
		line-height: 1;
		text-align: center;
		backdrop-filter: blur(6px);
		box-shadow: 0 6px 14px rgba(0, 0, 0, 0.28);
		z-index: 2;
	}

	:global(.card-affiliate-link:hover) {
		background: rgba(12, 28, 42, 0.96);
		color: #effbff;
	}

	.card-modal {
		position: fixed;
		inset: 0;
		background: rgba(6, 8, 14, 0.85);
		display: none;
		align-items: center;
		justify-content: center;
		padding: 2rem;
		z-index: 40;
	}

	.card-modal.is-open {
		display: flex;
	}

	.card-modal-inner {
		max-width: min(520px, 90vw);
		max-height: 90vh;
		background: rgba(10, 14, 24, 0.9);
		border: 1px solid var(--border);
		border-radius: var(--radius-lg);
		padding: 1rem 1rem 1.5rem;
		position: relative;
		box-shadow: var(--shadow);
	}

	.card-modal-inner img {
		width: 100%;
		max-height: 80vh;
		object-fit: contain;
	}

	.modal-close {
		position: absolute;
		top: 0.75rem;
		right: 0.75rem;
		background: rgba(255, 255, 255, 0.05);
		border: 1px solid var(--border);
		color: var(--text-100);
		border-radius: 999px;
		padding: 0.35rem 0.8rem;
		cursor: pointer;
		font-size: 0.85rem;
	}

	.load-more {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.6rem;
		color: var(--text-300);
		font-size: 0.9rem;
	}

	.faq-section {
		padding: 0 0 3.5rem;
	}

	.faq-header {
		margin-bottom: 1rem;
	}

	.faq-grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 1rem;
	}

	.faq-card {
		padding: 1.1rem 1.15rem;
		border: 1px solid var(--border);
		border-radius: var(--radius-lg);
		background: rgba(255, 255, 255, 0.02);
	}

	.faq-card h3 {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}

	.faq-card p {
		margin: 0;
		color: var(--text-300);
		font-size: 0.96rem;
	}

	@media (max-width: 600px) {
		.hero {
			padding-bottom: 1.5rem;
		}

		.list-section {
			padding-top: 0.75rem;
		}

		.faq-section {
			padding-top: 1.25rem;
			padding-bottom: 2.5rem;
		}

		.cards-grid {
			grid-template-columns: repeat(3, minmax(96px, 96px));
			justify-content: center;
			gap: 0.55rem;
		}

		:global(.card-thumb-shell) {
			width: 96px;
			max-width: 96px;
		}

		.leak-card {
			grid-template-columns: minmax(92px, 108px) minmax(0, 1fr);
			padding: 0.85rem;
			gap: 0.8rem;
			align-items: start;
		}

		.leak-card-thumb {
			width: 100%;
			max-width: 108px;
			justify-self: start;
		}

		.leak-card-copy {
			gap: 0.45rem;
		}

		.leak-card-copy h3 {
			font-size: 1.02rem;
		}

		.leak-card-code {
			font-size: 0.72rem;
		}

		.leak-card-rarity,
		.leak-chip,
		.variant-button {
			font-size: 0.7rem;
		}

		.leak-card-copy p {
			font-size: 0.84rem;
			line-height: 1.36;
		}

		.leak-card-effects {
			gap: 0.42rem;
		}

		.leak-card-effects p {
			padding-left: 0.75rem;
		}

		.leak-card-effects p::before {
			top: 0.5rem;
			width: 0.36rem;
			height: 0.36rem;
		}

		.keyword-badge {
			height: 1em;
			margin: 0 0.1em;
		}

		:global(.card-thumb) {
			width: 96px;
			max-width: 96px;
		}

		.faq-grid {
			grid-template-columns: 1fr;
		}
	}
</style>
